@property --arrow-btn-bg {
  syntax: "<color>";
  inherits: true;
  initial-value: #36bf5a;
}

@property --arrow-btn-text-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #ffffff;
}

@property --arrow-btn-icon-bg {
  syntax: "<color>";
  inherits: true;
  initial-value: #ffffff;
}

@property --arrow-btn-icon-color {
  syntax: "<color>";
  inherits: true;
  initial-value: #0044cc;
}

@property --arrow-btn-outline-start {
  syntax: "<color>";
  inherits: true;
  initial-value: rgba(128, 219, 152, 0);
}

@property --arrow-btn-outline-end {
  syntax: "<color>";
  inherits: true;
  initial-value: #80db98;
}

@layer components {
  .arrow-btn {
    --arrow-btn-bg: var(--accent-green);
    --arrow-btn-text-color: var(--white);
    --arrow-btn-icon-bg: var(--white);
    --arrow-btn-icon-color: var(--text-light-blue);
    --arrow-btn-outline-start: rgba(128, 219, 152, 0);
    --arrow-btn-outline-end: #80db98;
    min-height: 4rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    padding: 0.3rem;
    border-radius: 30rem;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    font-family: var(--font-family-inter);
    color: var(--arrow-btn-text-color);
    padding-left: 2rem;
    border: 1px solid transparent;
    background: var(--arrow-btn-bg);
    justify-content: space-between;
    background:
      linear-gradient(var(--arrow-btn-bg), var(--arrow-btn-bg)) padding-box,
      linear-gradient(
          96deg,
          var(--arrow-btn-outline-start) 0.09%,
          var(--arrow-btn-outline-end) 99.99%
        )
        border-box;
    transition:
      --arrow-btn-bg 0.2s ease,
      --arrow-btn-text-color 0.2s ease,
      --arrow-btn-icon-bg 0.2s ease,
      --arrow-btn-icon-color 0.2s ease,
      --arrow-btn-outline-start 0.2s ease,
      --arrow-btn-outline-end 0.2s ease;

    &:not(:disabled):not([aria-disabled="true"]):not(.is-disabled):hover {
      --arrow-btn-bg: var(--accent-green-hover);
    }

    &:not(:disabled):not([aria-disabled="true"]):not(.is-disabled):active {
      --arrow-btn-bg: var(--accent-green-pressed);
    }

    &:is(:disabled, [aria-disabled="true"], .is-disabled) {
      --arrow-btn-text-color: var(--accent-green-hover);
      --arrow-btn-icon-bg: var(--accent-green-hover);
      --arrow-btn-icon-color: var(--accent-green);
      pointer-events: none;
      cursor: default;
    }

    &--blue {
      --arrow-btn-bg: var(--text-light-blue);
      --arrow-btn-icon-color: var(--text-light-blue);
      --arrow-btn-outline-start: rgba(112, 160, 255, 0);
      --arrow-btn-outline-end: #70a0ff;

      &:not(:disabled):not([aria-disabled="true"]):not(.is-disabled):hover {
        --arrow-btn-bg: var(--text-light-blue-hover);
      }

      &:not(:disabled):not([aria-disabled="true"]):not(.is-disabled):active {
        --arrow-btn-bg: var(--text-light-blue-pressed);
      }

      &:is(:disabled, [aria-disabled="true"], .is-disabled) {
        --arrow-btn-text-color: var(--text-secondary);
        --arrow-btn-icon-bg: var(--text-secondary);
        --arrow-btn-icon-color: var(--text-light-blue);
        gap: 0.4rem;
      }
    }

    &--centered {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      text-align: center;
      padding-left: 0.3rem;
      .arrow-btn__icon {
        grid-column: 3 / 4;
        justify-self: flex-end;
      }

      .arrow-btn__text {
        grid-column: 2 / 3;
        justify-self: center;
      }
    }
  }

  .arrow-btn__icon {
    flex-shrink: 0;
    display: inline-grid;
    place-items: center;
    border-radius: 50%;
    background-color: var(--arrow-btn-icon-bg);
    width: 3.2rem;
    height: 3.2rem;

    svg {
      width: 1.2rem;
      height: 1.2rem;
      fill: var(--arrow-btn-icon-color);
    }
  }
}
