<header class="page-header">
    <div class="page-header__row">
        <div class="page-header__menu">
            <div class="page-header__left">
                <ul class="page-header__organizations-list">
                    <li class="page-header__organizations-list-item">
                        <div class="page-header__organization-card">
                            <img src="/images/page-header/organizations/1.webp" alt=""
                                class="page-header__organization-card-logo-image">
                        </div>
                    </li>
                    <li class="page-header__organizations-list-item">
                        <div class="page-header__organization-card">
                            <img src="/images/page-header/organizations/2.webp" alt=""
                                class="page-header__organization-card-logo-image">
                        </div>
                    </li>
                    <li class="page-header__organizations-list-item">
                        <div class="page-header__organization-card">
                            <img src="/images/page-header/organizations/3.webp" alt=""
                                class="page-header__organization-card-logo-image">
                            <span class="page-header__organization-card-text">
                                Казанский<br> Государственный<br> Медицинский Университет
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="page-header__right">
                <a href="#" class="outline-btn">
                    Инструкция
                </a>
                <a href="#" class="arrow-btn">
                    Обратная связь
                    <span class="arrow-btn__icon">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </span>
                </a>
                <a href="#" class="page-header__profile">
                    <img src="/images/page-header/profile.webp" alt="" class="page-header__profile-image">
                </a>
            </div>
        </div>
        <a href="#" class="page-header__logo">
            <img src="/images/shared/logo.png" alt="" class="page-header__logo-image">
        </a>
    </div>
</header>