<header class="page-header">
    <div class="page-header__row">
        <div class="page-header__menu" id="page-header-menu" aria-hidden="false">
            <div class="page-header__left">
                <ul class="page-header__organizations-list">
                    <li class="page-header__organizations-list-item">
                        <div class="page-header__organization-card">
                            <img src="/images/page-header/organizations/1.webp" alt=""
                                class="page-header__organization-card-logo-image">
                        </div>
                    </li>
                    <li class="page-header__organizations-list-item">
                        <div class="page-header__organization-card">
                            <img src="/images/page-header/organizations/2.webp" alt=""
                                class="page-header__organization-card-logo-image">
                        </div>
                    </li>
                    <li class="page-header__organizations-list-item">
                        <div class="page-header__organization-card">
                            <img src="/images/page-header/organizations/3.webp" alt=""
                                class="page-header__organization-card-logo-image">
                            <span class="page-header__organization-card-text">
                                Казанский<br> Государственный<br> Медицинский Университет
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="page-header__right">
                <a href="#" class="outline-btn">
                    Инструкция
                </a>
                <a href="#callback-modal" class="btn" data-open="#callback-modal" aria-controls="callback-modal">
                    <span class="btn__text">Обратная связь</span>
                    <span class="btn__icon">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </span>
                </a>
                <a href="#" class="page-header__profile">
                    <img src="/images/page-header/profile.webp" alt="" class="page-header__profile-image">
                    <span class="page-header__profile-label">Профиль</span>
                </a>
            </div>
        </div>
        <a href="#" class="page-header__logo">
            <img src="/images/shared/logo.png" alt="" class="page-header__logo-image">
        </a>
        <button class="outline-btn page-header__menu-toggle" type="button" aria-expanded="false"
            aria-controls="page-header-menu">
            Меню
        </button>
    </div>
    <div class="page-header__menu-overlay" aria-hidden="true"></div>
</header>
{{> components/modals/callback-modal }}
