@use "tokens/breakpoints";

@layer components {
  .modal {
    border: none;
    padding: 0;
    margin: auto;
    overflow-y: auto;
    width: 100%;
    background-color: transparent;
    overscroll-behavior-y: contain;
    padding: 2rem 0;
    height: 100%;
    margin: 0;
    max-width: none;
    max-height: none;
    opacity: 0;
    transform: translateY(2rem);
    transition:
      opacity 0.3s ease,
      transform 0.3s ease,
      overlay 0.3s ease allow-discrete,
      display 0.3s ease allow-discrete;

    &--wide {
      --modal-width: 67.2rem;
    }

    &::backdrop {
      background-color: rgba(#00143d, 0.64);
      opacity: 0;
      transition:
        opacity 0.3s ease,
        backdrop-filter 0.3s ease,
        overlay 0.3s ease allow-discrete,
        display 0.3s ease allow-discrete;
    }

    &[open] {
      opacity: 1;
      transform: translateY(0);
      display: flex;
      flex-direction: column;

      &::backdrop {
        opacity: 1;
      }
    }

    @starting-style {
      &[open] {
        opacity: 0;
        transform: translateY(2rem);

        &::backdrop {
          opacity: 0;
        }
      }
    }
  }

  .modal__container {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 32.8rem;
    width: 100%;
    margin: auto;
  }

  .modal__close {
    --modal-close-bg: var(--white);
    --modal-close-border-color: var(--background-dark-sky);
    --modal-close-icon-color: var(--text-light-blue);

    position: absolute;
    top: 0;
    left: 100%;
    width: 4rem;
    height: 4rem;
    margin-left: 1.6rem;
    z-index: 10;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    border: 1px solid var(--modal-close-border-color);
    border-radius: 50%;
    background-color: var(--modal-close-bg);
    display: grid;
    place-items: center;
    transition:
      background-color 0.2s ease,
      border-color 0.2s ease,
      color 0.2s ease;

    &:not(:disabled):not([aria-disabled="true"]):not(.is-disabled):hover {
      --modal-close-bg: var(--background-light-sky);
      --modal-close-border-color: var(--background-dark-sky);
    }

    &:not(:disabled):not([aria-disabled="true"]):not(.is-disabled):active {
      --modal-close-bg: var(--background-light-sky);
      --modal-close-border-color: var(--text-light-blue);
    }

    svg {
      fill: var(--modal-close-icon-color);
      width: 1.2rem;
      height: 1.2rem;
    }
  }

  .modal__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    border-radius: var(--modal-radius, 1.6rem);
    background: var(--white);

    &--radius-large {
      --modal-radius: 3.2rem;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      padding: 1px;
      border-radius: inherit;
      background: linear-gradient(to right bottom, transparent, #ebf5ff);
      -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      pointer-events: none;
    }
  }
}
