@layer components {
  .speech-bubble {
    --speech-bubble-tail-width: 1.7rem;
    --speech-bubble-tail-height: 1.5rem;
    --speech-bubble-radius: 1.2rem;

    display: inline-block;
    padding: 0.8rem 1.2rem calc(0.8rem + var(--speech-bubble-tail-height));
    background-color: rgba(244, 247, 249, 0.7);
    filter: drop-shadow(0 0.4rem 1.6rem rgba(143, 203, 255, 0.4));

    mask-image:
      radial-gradient(farthest-side at 100% 100%, #000 99%, transparent 100%),
      radial-gradient(farthest-side at 0 100%, #000 99%, transparent 100%),
      radial-gradient(farthest-side at 0 0, #000 99%, transparent 100%),
      linear-gradient(#000 0 0), linear-gradient(#000 0 0),
      linear-gradient(#000 0 0), linear-gradient(#000 0 0),
      url("data:image/svg+xml,%3Csvg width='17' height='15' viewBox='0 0 17 15' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.43523 15C6.87047 15 13.7409 0.967742 17 0H0C0 0 -9.36027e-07 15 3.43523 15Z'/%3E%3C/svg%3E");
    mask-size:
      var(--speech-bubble-radius) var(--speech-bubble-radius),
      var(--speech-bubble-radius) var(--speech-bubble-radius),
      var(--speech-bubble-radius) var(--speech-bubble-radius),
      var(--speech-bubble-radius) var(--speech-bubble-radius),
      calc(100% - (var(--speech-bubble-radius) * 2)) var(--speech-bubble-radius),
      100%
        calc(
          100% - var(--speech-bubble-tail-height) -
            (var(--speech-bubble-radius) * 2)
        ),
      calc(100% - (var(--speech-bubble-radius) * 2)) var(--speech-bubble-radius),
      var(--speech-bubble-tail-width) var(--speech-bubble-tail-height);
    mask-position:
      0 0,
      100% 0,
      100% calc(100% - var(--speech-bubble-tail-height)),
      0 calc(100% - var(--speech-bubble-tail-height)),
      var(--speech-bubble-radius) 0,
      0 var(--speech-bubble-radius),
      var(--speech-bubble-radius) calc(100% - var(--speech-bubble-tail-height)),
      0 100%;
    mask-repeat: no-repeat;

    &--white {
      background-color: var(--white);
    }
  }

  .speech-bubble__text {
    font-family: var(--desktop-body-font-family);
    font-size: var(--desktop-body-font-size);
    font-weight: var(--desktop-body-font-weight);
    line-height: var(--desktop-body-line-height);
    letter-spacing: var(--desktop-body-letter-spacing);
    font-variant-numeric: lining-nums tabular-nums;
    color: var(--text-light-blue);
  }
}
