@use "tokens/breakpoints";

@layer components {
  .tag {
    font-family: var(--desktop-body-font-family);
    font-size: var(--desktop-body-font-size);
    font-weight: var(--desktop-body-font-weight);
    line-height: var(--desktop-body-line-height);
    letter-spacing: var(--desktop-body-letter-spacing);
    font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings:
      "liga" off,
      "clig" off;
    color: var(--white);
    background-color: var(--tag-color, var(--text-light-blue));
    flex-shrink: 0;
    padding: 0.55rem 1.2rem;
    border-radius: 30rem;

    @include breakpoints.mobile {
      font-family: var(--desktop-caption-font-family);
      font-size: var(--desktop-caption-font-size);
      font-weight: var(--desktop-caption-font-weight);
      line-height: var(--desktop-caption-line-height);
      letter-spacing: var(--desktop-caption-letter-spacing);
      padding: 0.55rem 1rem;
    }
  }
}
