<div class="select js-select{{#if class}} {{ class }}{{/if}}{{#if selected}} choice-selected{{/if}}"
    data-placeholder="{{ placeholder }}" {{#if required}}data-required-select{{/if}}>
    <div class="select__control">
        <button class="select__button" type="button" {{#if disabled}}disabled{{/if}}>
            <span class="select__button-text js-btn-text">
                {{#if selectedText}}
                    {{ selectedText }}
                {{else}}
                    {{ placeholder }}
                {{/if}}
            </span>
            <span class="select__button-icon" aria-hidden="true">
                <svg width="12" height="12">
                    <use xlink:href="#arrow-down"></use>
                </svg>
            </span>
        </button>
        <span class="select__label">{{ label }}</span>
    </div>

    <div class="select__dropdown">
        {{#each options}}
            <label class="select__option">
                <input class="select__input" type="radio" name="{{ ../name }}" value="{{ value }}" {{#if checked}}checked{{/if}} {{#if ../disabled}}disabled{{/if}}>
                <span class="select__option-marker" aria-hidden="true"></span>
                <span class="select__option-text">{{ label }}</span>
            </label>
        {{/each}}
    </div>

    {{#if errorText}}
        <span class="validation-error">{{ errorText }}</span>
    {{/if}}
</div>
