<div class="slider-arrows {{ class }}">
    <button class="slider-arrows__btn slider-arrows__btn--prev" type="button" aria-label="{{ prevLabel }}">
        <svg class="slider-arrows__btn-icon" width="12" height="12" aria-hidden="true">
            <use href="#arrow-left"></use>
        </svg>
    </button>
    <button class="slider-arrows__btn slider-arrows__btn--next" type="button" aria-label="{{ nextLabel }}">
        <svg class="slider-arrows__btn-icon" width="12" height="12" aria-hidden="true">
            <use href="#arrow-right"></use>
        </svg>
    </button>
</div>
