@layer tokens {
  :root {
    --white-cards-shadow: 0 0.4rem 1.6rem 0 #8fcbff66;
    --cards-glass-effect: blur(0.4rem);

    --gradient-outline-green: none;
    --gradient-outline-white: none;
    --gradient-outline-blue: none;
    --gradient-yellow: none;
  }
}
