@use "tokens/breakpoints";

@layer components {
  .callback-success-modal {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 2.4rem;
    @include breakpoints.mobile {
      gap: 1.6rem;
      padding: 2rem;
    }
  }

  .callback-success-modal__title {
    margin: 0;
    color: var(--text-light-blue);
    font-family: var(--desktop-h3-font-family);
    font-size: var(--desktop-h3-font-size);
    font-weight: var(--desktop-h3-font-weight);
    line-height: var(--desktop-h3-line-height);
    letter-spacing: var(--desktop-h3-letter-spacing);
    -webkit-text-stroke-width: 0.02rem;
    -webkit-text-stroke-color: currentColor;

    @include breakpoints.mobile {
      font-family: var(--mobile-h3-font-family);
      font-size: var(--mobile-h3-font-size);
      font-weight: var(--mobile-h3-font-weight);
      line-height: var(--mobile-h3-line-height);
      letter-spacing: var(--mobile-h3-letter-spacing);
    }
  }

  .callback-success-modal__action {
    align-self: stretch;
  }
}
