@layer components {
  .change-password-modal {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 2.4rem;
  }

  .change-password-modal__title {
    color: var(--text-light-blue);
  }

  .change-password-modal__form {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  .change-password-modal__fields {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  .change-password-modal__submit {
    width: 100%;
    justify-content: center;
  }
}
