@use "tokens/breakpoints";

@layer components {
  .welcome {
    position: relative;
    border-radius: 3.2rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    flex-grow: 1;
    padding: 3.2rem;

    @include breakpoints.mobile {
      padding: 2rem;
      gap: 2rem;
      border-radius: 2.4rem;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 0;
      border-radius: inherit;
      backdrop-filter: blur(8px);
      background-color: rgba(255, 255, 255, 0.48);
      pointer-events: none;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 2;
      padding: 1px;
      border-radius: inherit;
      background: linear-gradient(to right bottom, transparent, white);
      -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      pointer-events: none;
    }

    > * {
      position: relative;
      z-index: 1;
    }
  }

  .welcome__top-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3.2rem;

    @include breakpoints.mobile {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-areas: "logo organizations" "text text";
      align-items: center;
      gap: 2rem;
    }
  }

  .welcome__top-left {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    @include breakpoints.mobile {
      display: contents;
    }
  }

  .welcome__logo-image {
    width: 36.5rem;
    height: auto;
    max-width: 100%;

    @include breakpoints.mobile {
      width: 9.2rem;
      grid-area: logo;
    }
  }

  .welcome__text {
    max-width: 36rem;
    text-wrap: balance;

    @include breakpoints.mobile {
      max-width: none;
      grid-area: text;
      text-wrap: revert;
    }

    p {
      margin-top: 0.8rem;
      &:first-child {
        margin-top: 0;
      }
    }
  }

  .welcome__oragnizations-list {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    flex-wrap: wrap;

    @include breakpoints.mobile {
      grid-area: organizations;
    }
  }

  .welcome__organizations-list-item {
    flex-shrink: 0;
    width: 5.6rem;

    @include breakpoints.mobile {
      width: 4.8rem;
    }
  }

  .welcome__organization-card {
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }

  .welcome__organization-card-logo-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .welcome__bottom-row {
    margin-top: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 3.2rem;

    @include breakpoints.mobile {
      margin: 0;
      display: contents;
    }
  }

  .welcome__instruction {
    max-width: 34.6rem;
    position: relative;
    z-index: 1;
    @include breakpoints.mobile {
      max-width: none;
    }
  }

  .welcome__info {
    @include breakpoints.mobile {
      position: fixed;
      z-index: 100;
      right: 0.8rem;
      bottom: 0.8rem;
    }
  }
}
