<dialog class="modal modal--challenge js-modal" id="challenge-modal">
    <div class="modal__container">
        <button type="button" class="modal__close" aria-label="Закрыть модальное окно" data-close>
            <svg width="12" height="12" aria-hidden="true">
                <use xlink:href="#close"></use>
            </svg>
        </button>

        <div class="modal__content challenge-modal">
            <div class="challenge-modal__sections">
                <div class="challenge-modal__hero">
                    <div class="challenge-modal__trophy">
                        <div class="challenge-modal__trophy-circles">
                            <div class="challenge-modal__trophy-circle">

                            </div>
                            <div class="challenge-modal__trophy-circle">

                            </div>
                            <div class="challenge-modal__trophy-circle">

                            </div>
                        </div>
                        <div class="challenge-modal__trophy-image-wrapper">
                            <img src="/images/challenge-modal/trophy.webp" alt="" width="89" height="118">
                        </div>

                    </div>
                    <div class="challenge-modal__hero-text">
                        <h2 class="h2 challenge-modal__title">Поздравляем!</h2>
                        <p class="challenge-modal__subtitle">Вы успешно выполнили челлендж<br>«31 день чистки зубок»</p>
                    </div>
                </div>

                <div class="challenge-modal__body">
                    <p class="challenge-modal__text">Мы очень рады!<br>Продолжайте в том же духе, мы дарим диплом<br>и
                        тематическую раскраску</p>
                    <div class="challenge-modal__downloads">
                        <a href="#" class="challenge-modal__download-item">
                            <div class="challenge-modal__download-preview">
                                <img src="/images/challenge-modal/diploma.webp" alt="Диплом" width="996" height="1534">
                            </div>
                            <div class="wavy-btn challenge-modal__download-link">Скачать диплом</div>
                        </a>
                        <a href="#" class="challenge-modal__download-item">
                            <div class="challenge-modal__download-preview">
                                <img src="/images/challenge-modal/coloring.webp" alt="Раскраска">
                            </div>
                            <div class="wavy-btn challenge-modal__download-link">Скачать раскраску</div>
                        </a>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn--blue btn--centered challenge-modal__thanks-btn"
                data-close>Спасибо!</button>
        </div>
    </div>
</dialog>