<dialog class="modal modal--change-password js-modal" id="change-password-modal">
    <div class="modal__container">
        <button type="button" class="modal__close" aria-label="Закрыть модальное окно" data-close>
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <div class="modal__content">
            <div class="change-password-modal">
                <h2 class="h3 change-password-modal__title">Новый пароль</h2>
                <form action="/" method="POST" class="change-password-modal__form js-form" novalidate>
                    <div class="change-password-modal__fields">
                        {{> components/shared/text-input
                        type="password"
                        name="old-password"
                        label="Старый пароль"
                        autocomplete="current-password"
                        toggleId="eye-close"
                        }}
                        {{> components/shared/text-input
                        type="password"
                        name="new-password"
                        label="Новый пароль"
                        autocomplete="new-password"
                        toggleId="eye-close"
                        }}
                        {{> components/shared/text-input
                        type="password"
                        name="confirm-password"
                        label="Подтвердите новый пароль"
                        autocomplete="new-password"
                        toggleId="eye-close"
                        }}
                    </div>
                    <button class="btn btn--blue btn--centered change-password-modal__submit" type="submit">
                        <span class="btn__text">
                            Сохранить
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</dialog>