<dialog class="modal modal--faq js-modal" id="faq-modal">
    <div class="modal__container">
        <button type="button" class="modal__close" aria-label="Закрыть модальное окно" data-close>
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <div class="modal__content">
            <div class="faq-modal">
                <div class="faq-modal__scroll">
                    <div class="faq-modal__scroll-content">
                        <div class="tag faq-modal__tag">Частые вопросы</div>
                        <article class="article-content faq-modal__article">
                            <h1>Наш малыш родился!</h1>
                            <p>После рождения малыша важно организовать правильный уход, питание, режим дня и
                                психологическую
                                поддержку как для ребёнка, так и для родителей. Вот ключевые аспекты, которые помогут
                                сориентироваться в первые дни и месяцы.</p>
                            <h2>Гигиена и уход</h2>
                            <p>Температура и влажность в комнате: поддерживайте 20-22°C, зимой используйте увлажнитель
                                воздуха (оптимально 40-60%). Ежедневно проветривайте помещение, избегая сквозняков.</p>
                            <p>Купание: купать можно 2-3 раза в неделю, используя тёплую воду и детское мыло. Первое
                                купание лучше проводить после того, как пупочная ранка начнёт заживать. Вода не должна
                                попадать на пуповину.</p>
                            <p>Подмывание: проводите после каждого стула, направляя струю воды спереди назад (для
                                девочек)
                                или сзади наперёд (для мальчиков). Используйте влажную салфетку или тёплую воду с мылом
                                при
                                необходимости.</p>
                            <p>Подмывание: проводите после каждого стула, направляя струю воды спереди назад (для
                                девочек)
                                или сзади наперёд (для мальчиков). Используйте влажную салфетку или тёплую воду с мылом
                                при
                                необходимости.</p>
                            <p>После рождения малыша важно организовать правильный уход, питание, режим дня и
                                психологическую
                                поддержку как для ребёнка, так и для родителей. Вот ключевые аспекты, которые помогут
                                сориентироваться в первые дни и месяцы.</p>
                            <h2>Гигиена и уход</h2>
                            <p>Температура и влажность в комнате: поддерживайте 20-22°C, зимой используйте увлажнитель
                                воздуха (оптимально 40-60%). Ежедневно проветривайте помещение, избегая сквозняков.</p>
                            <p>Купание: купать можно 2-3 раза в неделю, используя тёплую воду и детское мыло. Первое
                                купание лучше проводить после того, как пупочная ранка начнёт заживать. Вода не должна
                                попадать на пуповину.</p>
                            <p>Подмывание: проводите после каждого стула, направляя струю воды спереди назад (для
                                девочек)
                                или сзади наперёд (для мальчиков). Используйте влажную салфетку или тёплую воду с мылом
                                при
                                необходимости.</p>
                            <p>Подмывание: проводите после каждого стула, направляя струю воды спереди назад (для
                                девочек)
                                или сзади наперёд (для мальчиков). Используйте влажную салфетку или тёплую воду с мылом
                                при
                                необходимости.</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>