@layer base {
  html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
    overscroll-behavior: none;
  }

  body {
    font-family: var(--desktop-body-font-family);
    font-size: var(--desktop-body-font-size);
    font-weight: var(--desktop-body-font-weight);
    line-height: var(--desktop-body-line-height);
    letter-spacing: var(--desktop-body-letter-spacing);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overscroll-behavior: none;
    color: var(--text-light-blue);
  }

  :where(a, button) {
    transition:
      background-color 0.2s,
      color 0.2s,
      border-color 0.2s;
  }

  ::selection {
    color: white;
    background-color: var(--accent-blue);
    -webkit-text-fill-color: white;
  }
}
