<div class="categories">
    <h3 class="h2 categories__title">
        Разделы по категориям
    </h3>
    <div class="categories__cards">
        <a href="#" class="categories__card categories__card--wide">
            <img src="/images/categories/1.webp" alt="" class="categories__card-image">
            <div class="tag" style="--tag-color: var(--text-light-blue);">
                Будущие родители
            </div>
        </a>
        <a href="#" class="categories__card">
            <img src="/images/categories/2.webp" alt="" class="categories__card-image">
            <div class="tag" style="--tag-color: var(--accent-red);">
                0-2 года
            </div>
        </a>
        <a href="#" class="categories__card">
            <img src="/images/categories/3.webp" alt="" class="categories__card-image">
            <div class="tag" style="--tag-color: var(--accents-indigo);">
                3-7 лет
            </div>
        </a>
        <a href="#" class="categories__card">
            <img src="/images/categories/4.webp" alt="" class="categories__card-image">
            <div class="tag" style="--tag-color: var(--accent-orange);">
                8-11 лет
            </div>
        </a>
        <a href="#" class="categories__card">
            <img src="/images/categories/5.webp" alt="" class="categories__card-image">
            <div class="tag" style="--tag-color: var(--accent-green);">
                12-17 лет
            </div>
        </a>
    </div>
</div>