<div class="categories">
    <h3 class="h2 categories__title">
        Разделы по категориям
    </h3>
    <div class="categories__cards">
        <a href="#" class="categories__card categories__card--wide js-category-video-card">
            <video
                class="categories__card-video"
                data-src="/videos/categories/1.mp4"
                poster="/images/categories/posters/1.webp"
                muted
                playsinline
                preload="none"
                aria-hidden="true"
            ></video>
            <div class="tag" style="--tag-color: var(--text-light-blue);">
                Будущие родители
            </div>
        </a>
        <a href="#" class="categories__card js-category-video-card">
            <video
                class="categories__card-video"
                data-src="/videos/categories/2.mp4"
                poster="/images/categories/posters/2.webp"
                muted
                playsinline
                preload="none"
                aria-hidden="true"
            ></video>
            <div class="tag" style="--tag-color: var(--accent-red);">
                0-2 года
            </div>
        </a>
        <a href="#" class="categories__card js-category-video-card">
            <video
                class="categories__card-video"
                data-src="/videos/categories/3.mp4"
                poster="/images/categories/posters/3.webp"
                muted
                playsinline
                preload="none"
                aria-hidden="true"
            ></video>
            <div class="tag" style="--tag-color: var(--accents-indigo);">
                3-7 лет
            </div>
        </a>
        <a href="#" class="categories__card js-category-video-card">
            <video
                class="categories__card-video"
                data-src="/videos/categories/4.mp4"
                poster="/images/categories/posters/4.webp"
                muted
                playsinline
                preload="none"
                aria-hidden="true"
            ></video>
            <div class="tag" style="--tag-color: var(--accent-orange);">
                8-11 лет
            </div>
        </a>
        <a href="#" class="categories__card js-category-video-card">
            <video
                class="categories__card-video"
                data-src="/videos/categories/5.mp4"
                poster="/images/categories/posters/5.webp"
                muted
                playsinline
                preload="none"
                aria-hidden="true"
            ></video>
            <div class="tag" style="--tag-color: var(--accent-green);">
                12-17 лет
            </div>
        </a>
    </div>
</div>
