<div class="challenge-complete">
    <div class="challenge-complete__header">
        <h3 class="h3 challenge-complete__title">Челлендж выполнен!</h3>
        <p class="challenge-complete__text">Вам пора получить заслуженную награду за старания!</p>
    </div>
    <button class="btn btn--centered challenge-complete__btn" type="button">
        <span class="btn__text">Получить награду</span>
        <span class="btn__icon">
            <svg width="12" height="12" aria-hidden="true">
                <use xlink:href="#arrow-right"></use>
            </svg>
        </span>
    </button>
</div>
