<div class="cookie-banner" role="region" aria-label="Уведомление о cookies">
    <p class="cookie-banner__text">
        Мы используем cookies. Продолжая пользоваться сайтом, вы&nbsp;соглашаетесь с&nbsp;этим.
    </p>
    <div class="cookie-banner__actions">
        <button class="btn btn--blue btn--centered btn--small js-cookie-accept" type="button">
            Хорошо
        </button>
        <a href="#" class="outline-btn outline-btn--small">
            Подробнее
        </a>
    </div>
</div>