<section class="education-section js-education-section" aria-label="Обучающий раздел">
    <div class="education-section__grid">
        <aside class="education-section__aside">
            {{> components/misc/education-rating class="education-section__rating" }}

            {{> components/misc/toothguy
                class="education-section__toothguy"
                bubbleClass="speech-bubble--white"
                bubbleText="Я рад, что вы снова<br>заглянули ко мне!"
            }}
        </aside>

        <div class="education-section__main">
            <div class="education-section__slider-wrap">
                <div class="education-section__slider swiper">
                    <div class="swiper-wrapper">
                        <div class="education-section__slide education-section__slide--aside education-section__slide--aside-mobile">
                            {{> components/misc/education-rating class="education-section__rating" }}

                            {{> components/misc/toothguy
                                class="education-section__toothguy"
                                bubbleClass="speech-bubble--white"
                                bubbleText="Я рад, что вы снова<br>заглянули ко мне!"
                            }}
                        </div>
                        {{#each educationCards}}
                            <div class="education-section__slide swiper-slide">
                                {{> components/cards/education-card this }}
                            </div>
                        {{/each}}
                    </div>
                </div>

                <button class="education-section__nav education-section__nav--prev" type="button"
                    aria-label="Предыдущая карточка">
                    <svg width="24" height="24" aria-hidden="true">
                        <use href="#arrow-left"></use>
                    </svg>
                </button>
                <button class="education-section__nav education-section__nav--next" type="button"
                    aria-label="Следующая карточка">
                    <svg width="24" height="24" aria-hidden="true">
                        <use href="#arrow-right"></use>
                    </svg>
                </button>
            </div>
            <div class="education-section__pagination-wrapper">
                <div class="education-section__pagination swiper-pagination" aria-hidden="true"></div>
            </div>
        </div>
    </div>
</section>
