<div class="faq">
    <h2 class="h2 faq__title">
        Частые вопросы
    </h2>
    <div class="faq__text">
        Собрано на основе собственных исследований Казанского ГМУ
    </div>
    <ul class="faq__list">
        <li class="faq__list-item">
            <a href="#faq-modal" class="faq__link" data-open="#faq-modal" aria-controls="faq-modal">
                Наш малыш родился
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </a>
        </li>
        <li class="faq__list-item">
            <a href="#faq-modal" class="faq__link" data-open="#faq-modal" aria-controls="faq-modal">
                Когда прорежутся зубки?
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </a>
        </li>
        <li class="faq__list-item">
            <a href="#faq-modal" class="faq__link" data-open="#faq-modal" aria-controls="faq-modal">
                Как правильно чистить зубки?
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </a>
        </li>
        <li class="faq__list-item">
            <a href="#faq-modal" class="faq__link" data-open="#faq-modal" aria-controls="faq-modal">
                <span class="desktop-text">
                    У моего ребёнка кариес, что делать?
                </span>
                <span class="mobile-text">
                    У моего ребёнка кариес
                </span>
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </a>
        </li>
        <li class="faq__list-item">
            <a href="#faq-modal" class="faq__link" data-open="#faq-modal" aria-controls="faq-modal">
                Когда идти к стоматологу?
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </a>
        </li>
        <li class="faq__list-item">
            <a href="#faq-modal" class="faq__link" data-open="#faq-modal" aria-controls="faq-modal">
                <span class="desktop-text">
                    У меня неровные зубки, что делать?
                </span>
                <span class="mobile-text">
                    У меня неровные зубки
                </span>
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </a>
        </li>
    </ul>
</div>
