<section class="secondary-panel secondary-panel--green-border" aria-label="Панель навигации профиля">
    <div class="secondary-panel__row">
        <a href="/index.html" class="outline-btn secondary-panel__back-btn">
            <svg width="12" height="12" aria-hidden="true">
                <use xlink:href="#arrow-left"></use>
            </svg>
            <span>Назад</span>
        </a>
        <h1 class="secondary-panel__title">
            {{ profileSectionTitle }}
        </h1>
        <div class="secondary-panel__right profile-secondary__right">
            <a class="secondary-panel__calendar-link" href="#">
                <span class="secondary-panel__calendar-title">{{ profileCalendarTitle }}</span>
                <span class="secondary-panel__calendar-caption">
                    {{ profileCalendarLinkText }}
                    <span class="secondary-panel__calendar-arrow" aria-hidden="true"></span>
                </span>
            </a>
            <a class="secondary-panel__deadline" href="#"
                aria-label="До события осталось {{ profileCalendarDaysLeft }}, день {{ profileCalendarDay }}">
                <span class="secondary-panel__deadline-left">{{ profileCalendarDaysLeft }}</span>
                <span class="secondary-panel__deadline-right">{{ profileCalendarDay }}</span>
            </a>
        </div>
    </div>
</section>