<section class="secondary-panel" aria-label="Панель навигации квиза">
    <div class="secondary-panel__row secondary-panel__row--mobile-centered">
        <a href="{{ quizBackHref }}" class="outline-btn secondary-panel__back-btn">
            <svg width="12" height="12" aria-hidden="true">
                <use xlink:href="#arrow-left"></use>
            </svg>
            <span>{{ quizBackText }}</span>
        </a>
        <h1 class="secondary-panel__title">
            {{ quizPageTitle }}
        </h1>
    </div>
</section>