<section class="quiz-question{{#if quizOptionsAsCards}} quiz-question--cards{{/if}}" aria-labelledby="quiz-question-text">
    <div class="quiz-question__grid">
        <div class="quiz-question__toothguy-wrap">
            {{> components/misc/toothguy hideBubble=true }}
        </div>

        <div class="quiz-question__main">
            <div class="quiz-question__frame">
                <div class="quiz-question__card">
                    <div class="quiz-question__meta">
                        <div class="quiz-question__meta-item">
                            <span class="quiz-question__meta-label">Вопрос</span>
                            <div class="quiz-question__counter">
                                <span class="quiz-question__counter-current">{{ quizCurrentQuestion }}</span>
                                <span class="quiz-question__counter-total">{{ quizTotalQuestions }}</span>
                            </div>
                        </div>
                        <div class="quiz-question__meta-item">
                            <span class="quiz-question__meta-label">Времени осталось</span>
                            <div class="quiz-question__timer">{{ quizTimer }}</div>
                        </div>
                    </div>

                    <p class="quiz-question__text" id="quiz-question-text">{{{ quizQuestionText }}}</p>

                    <div
                        class="quiz-question__options{{#if quizOptionsAsCards}} quiz-question__options--cards js-quiz-options-slider{{/if}}">
                        {{#if quizOptionsAsCards}}
                            <div class="quiz-question__options-track">
                                <div class="quiz-question__options-slider swiper">
                                    <div class="swiper-wrapper">
                                        {{#each quizOptions}}
                                            <div class="quiz-question__options-slide swiper-slide">
                                                <label class="quiz-option-card">
                                                    <input class="quiz-option-card__input" type="radio" name="quiz-answer"
                                                        value="{{ value }}">
                                                    <span class="quiz-option-card__image-wrap">
                                                        <img class="quiz-option-card__image" src="{{ image }}" alt="" loading="lazy"
                                                            width="176" height="99">
                                                    </span>
                                                    <span class="quiz-option-card__label">{{ label }}</span>
                                                </label>
                                            </div>
                                        {{/each}}
                                    </div>
                                </div>
                                <button class="quiz-question__options-nav quiz-question__options-nav--prev" type="button"
                                    aria-label="Предыдущий вариант ответа">
                                    <svg width="12" height="12" aria-hidden="true">
                                        <use xlink:href="#arrow-left"></use>
                                    </svg>
                                </button>
                                <button class="quiz-question__options-nav quiz-question__options-nav--next" type="button"
                                    aria-label="Следующий вариант ответа">
                                    <svg width="12" height="12" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="quiz-question__options-pagination swiper-pagination" aria-hidden="true"></div>
                        {{else}}
                            {{#each quizOptions}}
                                <label class="quiz-option">
                                    <input class="quiz-option__input" type="radio" name="quiz-answer" value="{{ value }}">
                                    <span class="quiz-option__radio"></span>
                                    <span class="quiz-option__label">{{ label }}</span>
                                </label>
                            {{/each}}
                        {{/if}}
                    </div>

                    <div class="quiz-question__actions">
                        <a href="{{ quizPrevHref }}" class="outline-btn{{#if quizPrevDisabled}} is-disabled{{/if}}"
                            {{#if quizPrevDisabled}}aria-disabled="true"{{/if}}>
                            <svg width="12" height="12" aria-hidden="true">
                                <use xlink:href="#arrow-left"></use>
                            </svg>
                            <span>Назад</span>
                        </a>
                        <a href="{{ quizNextHref }}" class="btn btn--blue">
                            <span class="btn__text">Далее</span>
                            <span class="btn__icon">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="quiz-question__aside" aria-hidden="true"></div>
    </div>
</section>
