<section class="toothguy{{#if class}} {{ class }}{{/if}}" aria-hidden="true">
    <div class="toothguy__character">
        <img class="toothguy__image" src="/images/toothguy/tooth.webp" alt="" loading="lazy" width="182" height="228">
    </div>

    {{#unless hideBubble}}
        <div class="speech-bubble toothguy__bubble{{#if bubbleClass}} {{ bubbleClass }}{{/if}}">
            <p class="speech-bubble__text toothguy__text{{#if bubbleTextClass}} {{ bubbleTextClass }}{{/if}}">
                {{#if bubbleText}}
                    {{{ bubbleText }}}
                {{else}}
                    Ты точно чистишь
                    <br>
                    зубки каждый день?
                {{/if}}
            </p>
        </div>
    {{/unless}}
</section>
