<div class="welcome">
    <div class="welcome__top-row">
        <div class="welcome__top-left">
            <img src="/images/shared/logo.svg" alt="" class="welcome__logo-image">
            <div class="welcome__text">
                <p>
                    Онлайн платформа для родителей и&nbsp;детей по&nbsp;воспитанию полезных привычек
                </p>
                <p>
                    ФГБОУ ВО&nbsp;Казанский ГМУ Минздрава России
                </p>
            </div>
        </div>
        <ul class="welcome__oragnizations-list">
            <li class="welcome__organizations-list-item">
                <div class="welcome__organization-card">
                    <img src="/images/welcome/organizations/1.webp" alt=""
                        class="welcome__organization-card-logo-image">
                </div>
            </li>
            <li class="welcome__organizations-list-item">
                <div class="welcome__organization-card">
                    <img src="/images/welcome/organizations/2.webp" alt=""
                        class="welcome__organization-card-logo-image">
                </div>
            </li>
            <li class="welcome__organizations-list-item">
                <div class="welcome__organization-card">
                    <img src="/images/welcome/organizations/3.webp" alt=""
                        class="welcome__organization-card-logo-image">
                </div>
            </li>
        </ul>
    </div>
    <div class="welcome__bottom-row">
        {{> components/cards/instruction
        imageSrc="/images/instruction/preview.webp"
        imageAlt="Превью инструкции об образовательной платформе"
        class="welcome__instruction"
        title="Инструкция об образовательной платформе"
        }}

        {{> components/shared/info
        class="welcome__info"
        }}
    </div>
</div>