<a href="#" class="instruction {{ class }}">
    <div class="instruction__preview">
        <img src="{{ imageSrc }}" alt="{{ imageAlt }}" class="instruction__preview-image" width="160" height="90"
            loading="lazy">
        <div class="instruction__play">
            <svg class="instruction__play-icon" width="12" height="12" aria-hidden="true">
                <use href="#play"></use>
            </svg>
        </div>
    </div>
    <h3 class="instruction__title">
        {{ title }}
    </h3>
</a>