@layer layout {
  .article-page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: var(--content-padding);
    background-color: var(--background-sky);
    background-image: url("/images/article-content/bg-cloud.webp");
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 89.8rem 76.8rem;
  }

  .article-page__body {
    margin-top: 2.4rem;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 3.2rem;
    align-items: flex-start;
  }

  .article-page__back {
    grid-column: 1 / 4;
    justify-self: flex-start;
  }

  .article-page__card {
    grid-column: 4 / 10;
    padding: 4rem;
    border: 1.5px solid rgba(235, 245, 255, 0);
    border-radius: 3.2rem;
    background-color: var(--white);
    box-shadow: 0 0.4rem 1.6rem 0 rgba(143, 203, 255, 0.4);
  }
}
