@use "../tokens/breakpoints";

@layer layout {
  .auth {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas: "left right";
    gap: 3.2rem;
    padding: var(--content-padding);
    background-color: var(--accent-blue);
    background-image: url("/images/auth/bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: 1;

    @include breakpoints.mobile {
      flex-direction: column;
      display: flex;
      gap: 2rem;
      position: relative;
      isolation: isolate;
      background-image: none;
      min-height: 100svh;
      background-image: url("/images/auth/bg-mobile.webp");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
    }
  }

  .auth__left {
    display: flex;
    flex-direction: column;
    grid-area: left;
  }

  .auth__right {
    display: flex;
    flex-direction: column;
    grid-area: right;
  }
}
