@use "tokens/breakpoints";

@layer layout {
  .home {
    padding: var(--content-padding);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--background-sky);
    background-image: url("/images/home/grass.webp");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center bottom;

    @include breakpoints.mobile {
      background-image: url("/images/home/grass-mobile.webp");
    }
  }

  .home__dashboard {
    margin-top: 2.4rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    @include breakpoints.mobile {
      margin-top: 2rem;
    }

    > .dashboard-slider {
      overflow: visible;
      flex-grow: 1;
      width: 100%;
    }

    > .dashboard-slider > .dashboard-slider__track > .dashboard-slider__slide {
      display: flex;
      flex-direction: column;
      height: auto;
      box-sizing: border-box;
      gap: 1.6rem;
    }

    > .dashboard-slider > .dashboard-slider__track {
      display: grid;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1.24fr) minmax(0, 1fr);
      gap: 12rem;

      @include breakpoints.mobile {
        display: flex;
        gap: 0;
      }
    }
  }
}
