@layer layout {
  .profile-page {
    position: relative;
    isolation: isolate;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: clip;
    padding: var(--content-padding);
    background-color: var(--accent-green-hover);
  }
}
