@use "tokens/breakpoints";

@layer layout {
  .quiz-page {
    padding: var(--content-padding);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--background-sky);
    background-image:
      url("/images/home/grass.webp"), url("/images/quiz-page/bg.webp");
    background-size:
      100% auto,
      cover;
    background-repeat: no-repeat;
    background-position:
      center bottom,
      center;
  }

  @include breakpoints.mobile {
    background-image: url("/images/home/grass-mobile.webp");
    background-size: cover;
    background-position: center;
  }
}
