<div class="login">
    <form action="/" method="POST" class="login__form">
        <h1 class="h2 login__title">
            Вход в аккаунт
        </h1>
        <div class="login__form-fields">
            <div class="login__form-field">
                {{> components/shared/text-input
                class="login__text-input"
                type="text"
                name="username"
                label="Введите логин"
                iconId="profile"
                autocomplete="username"
                required=true
                }}
            </div>
            <div class="login__form-field">
                {{> components/shared/text-input
                class="login__text-input"
                type="password"
                name="password"
                label="Введите пароль"
                iconId="password"
                autocomplete="password"
                required=true
                }}
            </div>
        </div>
        <div class="login__form-buttons">
            <button class="btn btn--centered login__form-submit" type="submit">
                <span class="btn__text">
                    Войти в аккаунт
                </span>
                <span class="btn__icon">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </span>
            </button>
            <a href="#" class="outline-btn">
                Получить доступ
            </a>
        </div>
        <div class="login__form-policy">
            Нажимая &laquo;Войти в&nbsp;аккаунт&raquo;, вы&nbsp;соглашаетесь с&nbsp;политикой обработки персональных
            данных
        </div>
    </form>
    <a href="#" class="wavy-btn login__remember-link">
        Забыли пароль?
    </a>
</div>