@layer components {
  .login {
    border-radius: 3.2rem;
    background: var(--white);
    box-shadow: var(--white-cards-shadow);
    flex-grow: 1;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: "." "form" "remember";
    position: relative;
    box-shadow: 0 0.4rem 1.6rem 0 rgba(143, 203, 255, 0.4);
    padding: 4rem;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      padding: 1px;
      border-radius: inherit;
      background: linear-gradient(to right bottom, transparent, #ebf5ff);
      -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      pointer-events: none;
    }
  }

  .login__form {
    grid-area: form;
    align-self: center;
    justify-self: center;
    width: 100%;
    max-width: 32.8rem;
    border-radius: 1.6rem;
    background: var(--background-light-sky);
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  .login__title {
    text-align: center;
    text-wrap: balance;
  }

  .login__form-fields {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 2.4rem;
  }

  .login__form-buttons {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  .login__form-submit {
    width: 100%;
  }

  .login__form-policy {
    font-family: var(--desktop-caption-font-family);
    font-size: var(--desktop-caption-font-size);
    font-weight: var(--desktop-caption-font-weight);
    line-height: var(--desktop-caption-line-height);
    letter-spacing: var(--desktop-caption-letter-spacing);
    text-align: center;
  }

  .login__remember-link {
    align-self: flex-end;
    justify-self: center;
    text-align: center;
    grid-area: remember;
  }
}
